<h1>Listing thermostats</h1>

<table>
  <thead>
    <tr>
   
      <th>Temperature</th>
      
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @thermostats.each do |thermostat| %>
      <tr>
        <td><%= thermostat.temperature %></td>
        <td><%= link_to 'Show', thermostat %></td>
        <td><%= link_to 'Edit', edit_thermostat_path(thermostat) %></td>
        <td><%= link_to 'Destroy', thermostat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thermostat', new_thermostat_path %>
 <tbody>
    <% @thermostats.each do |thermostat| %>
      <tr>
        <td><%= thermostat.serial %></td>
        <td><%= thermostat.temperature %></td>
        <td><%= thermostat.humedad %></td>
        <td><%= thermostat.exterior %></td>
        <td><%= thermostat.consumoN %></td>
        <td><%= thermostat.consumoA %></td>
        <td><%= link_to 'Show', thermostat %></td>
        <td><%= link_to 'Edit', edit_thermostat_path(thermostat) %></td>
        <td><%= link_to 'Destroy', thermostat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Thermostat', new_thermostat_path %>
